/log
/tmp
/public/system
/public/assets/uploader
/app/assets/webpack
*.log
*.sql
/.bundle
/vendor/bundle
client/node_modules
node_modules
db/schema.rb

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore config fields
/config/application.yml
/config/database.yml
